absl_py==2.0.0
easydict==1.10
facenet==1.0.5
faiss==1.5.3
falconn==1.3.1
gym==0.26.2
joblib==1.3.2
librosa==0.10.1
lingvo==0.13.1
matplotlib==3.8.0
nose==1.3.7
numpy==1.26.1
opencv_python==4.8.1.78
Pillow==10.1.0
Pillow==10.1.0
protobuf==4.24.4
pyroomacoustics==0.7.3
scikit_learn==1.3.1
scipy==1.11.3
setuptools==68.0.0
six==1.16.0
six==1.15.0
tensorflow==2.8.1
tensorflow_addons==0.22.0
tensorflow_datasets==4.9.3
tensorflow_probability==0.22.0
torchaudio==2.1.0
torchvision==0.14.0
urllib3==2.0.7
